
test.py
.idea
./MLDL1_HW3/CIFAR_10/
./MLDL1_HW3/data/
/MLDL1_HW3/CIFAR_10/
/MLDL1_HW3/data/
lab3.zip
mldl_hw1/train.csv
mldl_hw1/test.csv
MLDL_HW2/2024-20023.zip
MLDL_HW2/2024-20023.zip
/lab3
MLDL1_HW3/2024-20023.zip
/MLDL1_HW3/mnist/__pycache__
